In [ ]:
import matplotlib.pyplot as plt ## plotting package
import pandas as pd ## tabel package
import requests
from bs4 import BeautifulSoup
from datetime import datetime
import numpy as np
import mysql.connector

In [ ]:
URL = 'https://en.wikipedia.org/wiki/Comparison_of_orbital_launch_systems'

In [ ]:
class Raket:
    naam = ""
    link = ""
    payloadLEO = 0
    jaar = 0
    massa = 0

In [ ]:
page = requests.get(URL)
soup = BeautifulSoup(page.content, 'html.parser')
tabellen = soup.find_all('tbody')[0:2]

In [ ]:
unit_conversion = {'kg' : 1,
                   'kilogram' : 1,
                   'kilograms' : 1,
                   'lb' : 0.454,
                   'pounds' : 0.454,
                   'pound' : 0.454,
                   't' : 1000,
                   'tonne' : 1000,
                   'tons' : 1000,
                   }
    

def massa_ophalen(URL):
    mass = 0   #default waarde, wordt veranderd als deze wordt gevonden
    
    page = requests.get(URL)
    soup = BeautifulSoup(page.content, 'html.parser')
    tabel = soup.find('table', {'class' : 'infobox hproduct'})
    headers = tabel.find_all('th', {'class' : 'infobox-label'})
    datarijen = tabel.find_all('td', {'class' : 'infobox-data'})
    rijen = tabel.find_all('tr')
    
    # range bepalen van de elementen die onder de size header vallen
    size_header_index = 0
    next_header_index = 0
    
    header_found = False
    for i in range(len(rijen)):
        header = rijen[i].find('th', {'class' : 'infobox-header'})
        if header: # check of de de rij een header is
            if header.text == "Size":
                size_header_index = i
                header_found = True
            elif header_found:
                next_header_index = i
                break
            # elif header.text.strip() == "Capacity":
            #     capacity_header_index = i
    
    if size_header_index:   # check of de size header en cap header zijn gevonden
        # index van raket massa ophalen 
        for i in range(size_header_index, next_header_index):
            header = rijen[i].find('th')
            content = rijen[i].find('td')
            
            # check of de betreffende rij een header is
            if header:
                if header.text == "Mass": # check of het de juiste header is
                    mass_line = content.text
                    mass_line = mass_line.replace("â€“", " ")
                    mass_line = mass_line.replace("-", " ")
                    mass_line = mass_line.split()
                    unit_index = 0
                    unit = None
                    for key in unit_conversion.keys():
                        try:
                            unit_index = mass_line.index(key)
                            unit = key
                            break #breaks out of for loop if key is found
                        except:
                            continue

                    if unit_index != 0:
                        mass = mass_line[unit_index - 1]
                        mass = mass.replace(',', '')
                        mass = int(mass) * unit_conversion[unit]
                        mass = int(mass)

    return mass

In [ ]:
def raket_ophalen(rij):
    raket = Raket()
    
    cellen = rij.find_all('td')
    
    # Naam uitlezen
    naam = cellen[0].text.rstrip()
    raket.naam = naam
    
    # Link uitlezen (indien mogelijk)
    link = cellen[0].find('a', href=True)
    if link:
        link = 'https://en.wikipedia.org/' + link.get('href')
        raket.link = link
    else:
        raket.link = ''
    
    # Payload uitlezen
    payload = cellen[3].text
    if '[' in payload:
        loc = payload.index('[')
    else:
        loc = len(payload)
    payload = payload[0:loc].replace(',', '').rstrip()
    if payload.isnumeric():
        raket.payloadLEO = int(payload)
    else:
        raket.payloadLEO = 0
    
    jaar = cellen[7].text
    jaar = jaar[0:min(4, len(jaar))].rstrip()
    if jaar.isnumeric():
        raket.jaar = int(jaar)
    else:
        raket.jaar = 0
    
    # massa ophalen met functie, in try/catch blok omdat de functie om verschillende redenen kan falen
    try:
        massa = massa_ophalen(link)
    except:
        massa = 0
    raket.massa = massa

    
    print('Naam: {:<50} Payload: {:<6} kg. Jaar: {:<6} Massa: {:<8} kg.'.format(raket.naam, raket.payloadLEO, raket.jaar, raket.massa))
    return raket

In [ ]:
startmsg = "Starttijd: "
endmsg = "Eindtijd: "

def printtime(message):
    now = datetime.now()
    current_time = now.strftime("%H:%M:%S")
    print("X" * 40)
    line = " " + message + current_time + " "
    print("X{:X^38}X".format(line))
    print("X" * 40)

In [ ]:
# database connectie & db functies
mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="",
  database="raketten"
)

def insert(raket):
    mycursor = mydb.cursor()

    command = ("INSERT INTO `launch_vehicles`( `naam`, `payloadLEO`, `jaar`, `massa`)"
             "VALUES (%s, '%s', '%s', '%s')"
            )
    vals = (raket.naam, raket.payloadLEO, raket.jaar, raket.massa)
    mycursor.execute(command, vals)
    return None

def clear_table():
    mycursor = mydb.cursor()
    mycursor.execute("DELETE FROM launch_vehicles WHERE 1")


def read_all():
    mycursor = mydb.cursor()
    mycursor.execute("SELECT * FROM launch_vehicles")
    myresult = mycursor.fetchall()
    for x in myresult:
        print(x)

In [ ]:
# maak nieuwe (lege) lijst met raketten
raketten = []

# print starttijd, sla starttijd op
start = datetime.now()
printtime(startmsg)

# main loop: haal alle raketten op
for tabel in tabellen:
    rijen = tabel.find_all('tr')
    for rij in rijen[2:]:
        raketten.append(raket_ophalen(rij))

print()
printtime(endmsg)
minutes = (datetime.now() - start).seconds // 60    #floor division by 60
seconds = (datetime.now() - start).seconds %  60    #modulo by 60
aantal = len(raketten)
print('Tijd verstreken: ' + str(minutes) + ' minuten, ' + str(seconds) + ' seconden.')
print('Aantal raketten: ' + str(aantal) + '. Tijd per raket: ' + str(round(seconds/aantal, 2)) + ' seconden.')

In [ ]:
# alle raket objecten in db plaatsen
for r in raketten:
    insert(r)

mydb.commit()
mycursor.close()

In [ ]:
def read_db(mass=-1, operator='>'):
    """Functie die een sql query uitvoert en omzet naar pandas dataframe. Alle raketten met een massa groter (default)
    of kleiner (operator = '<') dan de mass parameter worden gelezen."""
    cmd = 'SELECT * from launch_vehicles WHERE massa {} {} AND massa < 1200000 AND jaar > 1'.format(operator, mass)
    df = pd.read_sql(cmd, mydb)
    return df


rdf = read_db(1)   # read info from rocket db
# mydb.close()      # close db connection, no longer needed

In [ ]:
yrmax = rdf.groupby('jaar').massa.max()

In [ ]:
yrmax

In [ ]:
x, y = yrmax.index, yrmax/1000
x, y = np.array(x), np.array(y)

plt.scatter(x, y)
plt.ylabel('Zwaarste raket (ton)')
plt.xlabel('Jaar')

m, b = np.polyfit(x, y, 1)
plt.plot(x, m*x + b)

In [ ]:
np.corrcoef(x, y)

In [ ]:
launchfile = "launchlog.txt"

ldb = pd.read_fwf(launchfile) ## Launch database = ldb
ldb.drop(columns=["Unnamed: 10", "Unnamed: 11", "Unnamed: 12"], inplace=True) ## Remove empty columns with launchpad info

ldb.columns = ["Code", "Date_Full", "Time", "COSPAR",
                "Payload1", "Payload2", "SATCAT", "LV_Type", "LV_Serial",
                "Site", "Succes", "Reference"]

# split date into year and date
ldb["Year"] = ldb["Date_Full"].str.slice(start=0, stop=4)
ldb["Date"] = ldb["Date_Full"].str.slice(start=4, stop=None)


plotdata = pd.DataFrame(ldb["Year"].value_counts(sort=False))
plotdata.columns = ["Aantal"]
print(plotdata)

plt.bar(plotdata.index, plotdata.Aantal)
plt.ylabel("Aantal lanceringen")
plt.xlabel("Jaar")
plt.show()

In [ ]:
x.head()